.wrapper__aside{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    padding: 40px 30px 0 30px;
    margin: 120px auto 0 auto;
    background-color: #fff;
}

.aside__box{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 60%;
    padding: 60px 100px;
    box-shadow: 0px 0px 4px 1px #ecf0f1;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    margin-bottom: -80px;
    background-color: #fff;
}

.box__header{
    font-size: 30px;
}

.box__button{
    width: 55%;
    padding: 25px 5px 25px 5px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 2px #b2bec3;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.box__button:hover{
    background-color: rgba(255, 82, 192, 0.800);
}

@media(max-width: 1400px){
    .box__header{
        font-size: 24px;
    }
}

@media (max-width: 1200px){

    .aside__box{
        padding: 60px 70px;
    }
    
    .box__header{
        font-size: 20px;
    }
    .box__button{
        width: 55%;
        padding: 25px 5px 25px 5px;
        font-size: 13px;

    }
}

@media (max-width: 992px){
    .box__header{
        font-size: 18px;
    }
    .box__button{
        font-size: 12px;
    }
}

@media (max-width: 768px){
    .box__header{
        font-size: 16px;
    }
    .box__button{
        font-size: 10px;
    }
}

@media (max-width: 450px){

    .wrapper__aside{
        margin: 60px auto 0 auto;
    }
    .aside__box{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 5px;
        margin-bottom: -40px;
    }
    .box__header{
        text-align: center;
        font-size: 14px;
    }
    .box__button{
        padding: 10px 7px 10px 7px;
        font-size: 10px;
    }
}